* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --cor-primaria:#4a5a81;
    --cor-secundaria:#041e3f;
    --cor-terciaria:#273c60;
    --cor-msg-erro:#f51616;
    --cor-sucesso:#aaec8a;
    --notificacao-fundo:#313e2c;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(imgs/magical-mystical-landscape-wallpaper-purple-tones.jpg);
}

.container {
    display: flex;
    background-color: white;
    padding: 40px 40px 0px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container h1 {
    padding-bottom: 10px;
    text-align: center;
}

.login-container {
    padding: 20px;
}

#login-icon {
    animation: login-icon 1s ease;
}

#nome, #senha, button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid #222121;
}

input:focus {
    border-color: var(--cor-primaria);
    outline: none;
    box-shadow: 0 0 5px rgba(74, 90, 129, 0.8);
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

input[type="checkbox"] {
    accent-color: var(--cor-secundaria); /* Altera a cor da marcação */
}  

button {
    background-color:var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
}

button:hover {
    background-color: var(--cor-secundaria);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
}

.social-links a:hover {
    background-color: var(--cor-primaria);
    color: #fff;
    transition: 0.4s;
}

.social-links a img {
    height: 15px;
}

footer {
    padding-top: 20px;
}

@keyframes login-icon {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.4);}
}

#msg-erro-user, #msg-erro-pass {
    color: var(--cor-msg-erro);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
    display: none;
}

